#feature-listing .form-signup {
  padding: 10px 30px !important;
}
.font-500 {
  font-weight: 500;
}
.font-600 {
  font-weight: 600;
}
#feature-listing {
  font-weight: 300;
}
#feature-listing .subhead {
  line-height: 20px;
  font-size: 14px;
  font-weight: 300;
}
#feature-listing .signup-header h5 {
  font-weight: 500;
}
.categories_list li {
  display: inline-block;
  vertical-align: top;
  margin-right: 8px;
}
.box_body {
  height: 200px;
  overflow: auto;  
}
.box_body p {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
}