.forgot-password-header h5 {
  margin-bottom: 0;
  font-size: 24px;
  font-weight: 500;
}
.forgot-password-header p {
  font-size: 14px;
  font-weight: 500;
}
.form-signup {
  padding: 12px 80px !important;
}